
h1{
  color: #F6BE9A
}
p{
  color: #F6BE9A
}
body {
  background-color: #004643;
  color: black;
  text-align: center;
  font-size:200%;
}
p{
  font-size: 70%;
}
img{
  width: 1000px
}
ul{
  text-align: center;
  list-style-type: none;
  position: fixed;
}
li{
  float: left;
  padding: 10px
}
li a{
  padding: 6px;
  color: #F6BE9A;
  text-decoration: none;
  border: dashed;
}
li a:hover{
  background-color: #D1AC00;
  color:white;
}

